@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:400,400i,700&amp;subset=latin-ext);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap);
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Open Sans, Helvetica, Arial, sans-serif
}

html, form, .form, .runtime-content {
    height: 100%;
}

html, html body.theme-entry, .runtime-form {
    background-color: #EFF0F0 !important;
}

html body .runtime-content {
    margin: 0px !important;
}

html .runtime-form.theme-entry .form {
    margin: 10px;
    padding: 25px;
    background-color: #FFFFFF;
    border: 1px solid #898F94;
    box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 10%);
}

body.theme-entry {
    height: calc(100% - 10px) !important;
    min-height: calc(100% - 10px);
}

.theme-entry .grid-header-wrapper .grid-header-text, .theme-entry .panel-header-wrapper .panel-header-text, .theme-entry .grid-header-wrapper .grid-header-text>span, .theme-entry .panel-header-wrapper .panel-header-text>span {
    color: #575C61 !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    text-transform: none !important;
}

.theme-entry span {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif !important;
    font-size: 14px !important;
}

body {
    line-height: 1.3;
}

html .theme-entry .view .innerpanel>.grid, html .theme-entry .view .innerpanel>.panel, html .theme-entry .view-canvas>.grid, html .theme-entry .view-canvas>.panel {
    box-shadow: unset;
    -moz-box-shadow: unset;
    -ms-box-shadow: unset;
    -webkit-box-shadow: unset;
    border: 1px solid #898F94;
    border-radius: 4px;
}

.innerpanel {
    border-radius: 4px;
}

.view {
    border-radius: 4px;
}

.view div {
    background-color: transparent !important;
}

html .theme-entry .panel-header div, html .theme-entry .grid-header-wrapper div {
    border-color: #898F94;
}

html .theme-entry .panel-header-wrapper .panel-header-text {
    border-bottom: solid 1px #898F94;
    background-color: #e6f0fb !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

html .theme-entry input.SFC.SourceCode-Forms-Controls-Web-TextBox {
    caret-color: #5B5B5B;
    color: #5B5B5B;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 30px;
    padding: 10px;
    font-weight: 400;
    line-height: 1.25;
    border: 1px solid #898F94;
    font-size: 12px !important;
}

html .theme-entry input.SFC.SourceCode-Forms-Controls-Web-TextBox.focus {
    color: #5b5b5b;
    background-color: #fff;
    border-color: #006BD6;
    outline: 0;
    box-shadow: none;
}

html .theme-entry .input-control.text-input .input-control-m-c {
    border-color: #898F94;
    display: block;
    width: calc(100% - 0.4rem);
    color: #5b5b5b;
    background-color: #fff;
    border-radius: 4px;
}

html .theme-entry .input-control textarea {
    width: calc(100% - 20px);
    caret-color: #5B5B5B;
    color: #5B5B5B;
    border-color: #898F94;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    border-radius: 4px !important;
    display: block;
    width: calc(100% - 1.5rem);
    padding: .4375rem .75rem;
    font-size: .875rem;
}

html .theme-entry .input-control.text-input.active .input-control-m-c {
    color: #5b5b5b;
    background-color: #fff;
    border-color: #006BD6;
    outline: 0;
    box-shadow: none;
}

.theme-entry a.SourceCode-Forms-Controls-Web-Button, .theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled, .theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled:hover, .theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled:focus, .theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled:active, .theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled:hover:focus, .theme-entry a.SourceCode-Forms-Controls-Web-Button.disabled:hover:active, .theme-entry a.SourceCode-Forms-Controls-Web-Button.designtime, .theme-entry a.SourceCode-Forms-Controls-Web-Button.designtime:hover, .theme-entry a.SourceCode-Forms-Controls-Web-Button.designtime:focus, .theme-entry a.SourceCode-Forms-Controls-Web-Button.designtime:active, .theme-entry a.SourceCode-Forms-Controls-Web-Button.designtime:hover:focus, .theme-entry a.SourceCode-Forms-Controls-Web-Button.designtime:hover:active, .theme-entry a.SourceCode-Forms-Controls-Web-Button.preview, .theme-entry a.SourceCode-Forms-Controls-Web-Button.preview:hover, .theme-entry a.SourceCode-Forms-Controls-Web-Button.preview:focus, .theme-entry a.SourceCode-Forms-Controls-Web-Button.preview:active, .theme-entry a.SourceCode-Forms-Controls-Web-Button.preview:hover:focus, .theme-entry a.SourceCode-Forms-Controls-Web-Button.preview:hover:active {
    background-color: #006BD6;
    color: #FFFFFF;
    border-color: #006BD6;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    border-radius: 4px;
}

.theme-entry a.SourceCode-Forms-Controls-Web-Button:hover:focus, .theme-entry a.SourceCode-Forms-Controls-Web-Button:hover {
    background-color: #3389de !important;
}

html .theme-entry h4 {
    margin: 0;
    padding: 0;
    font-weight: 700 !important;
    color: #575C61 !important;
    line-height: 1;
    border-bottom: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 24px !important;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif !important;
}

html[dir=ltr] .theme-entry .input-control.select-box .input-control-m-c {
    border-right-width: unset;
    border-left-color: none;
    border-top-color: none;
    border-bottom: none;
}

html .theme-entry .styling-outer-wrapper {
    height: 30px !important;
    border: 1px solid #898F94 !important;
    border-radius: 4px;
    display: block !important;
    line-height: 30px;
}

html .theme-entry .input-control.select-box .input-control-buttons {
    border: none;
}

.theme-entry .input-control.select-box .input-control-buttons a {
    height: 26px !important;
    line-height: 26px !important;
    padding-top: 4px;
}

.theme-entry .input-control.select-box.double-buttons .input-control-m-c {
    height: 28px !important;
    line-height: 28px !important;
}

.theme-entry .input-control.select-box.double-buttons.picker-input .input-control-m-c .input-control-wrapper {
    height: 100%;
    line-height: 30px !important;
}

.theme-entry .input-control.select-box.picker-input .input-control-watermark, .theme-entry .input-control.select-box.picker-input div.editable-area, .theme-entry .input-control.select-box.picker-input input[type=text], .theme-entry .id-picker-search .input-control.select-box input[type=text] {
    line-height: 27px;
    font-size: 12px !important;
    height: 27px !important;
    padding-left: 10px;
}